<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/newMessage" method="POST">
      <button type="submit">Add a new Message!</button>
    </form>
    <h2>All messages</h2>
    <% if (messages.length > 0) { %>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <h3>Title: <%= message.title %></h3>
        <p>User: <%= message.user %></p>
        <p>Message: <%= message.content %></p>
        <p>Created at: <%= message.createdAt %></p>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>There are no messages to show right now</p>
    <% } %>
  </body>
</html>
